/* scss/atoms/_buttons.scss */

button, a.red-btn, a.green-btn, a.outline-white, a.outline-green {
	font-family: $body-font;
	font-style: italic;
	font-weight: $bold;
	color: $white;
	text-decoration:none;
	line-height: 2.7;
	font-size: $small-type;

	//height: 5rem;
	padding: 0 2rem;
	margin: 1.25rem 0;
	display: inline-block;

	border-width: 4px;
	border-style: solid;
	outline: 0;
	@include transition (all,0.3s,ease);

	@media only screen and (min-width: $bp-md) {
		line-height: 2.9;
		font-size: $body-size;
		//height: 6.4rem;
		padding: 0 2.5rem;
		margin: 1.25rem 0;
	}
	&:hover {
		text-decoration:none;
	}
}

.outline-white {
	border-color: $white;
	margin: 3.75rem auto 1.25rem;
	&:hover {
		opacity: .7;
	}
	&:active {
		opacity: .5;
	}
}

.outline-green {
	//border-color: transparent;
	//@include linear-gradient-border(45deg,$blue,$green);
	//@include linear-gradient-text(45deg,$blue,$green);
	border: 4px solid $green;
	color: $green;
	margin: 3.75rem auto 1.25rem;
	&:hover {
		opacity: .7;
	}
	&:active {
		opacity: .5;
	}
}

.red-btn {
	border-color: transparent;
	@include linear-gradient-border(90deg,$blue,$red);
	@include linear-gradient-img(45deg,$blue,$red);
	color:$white !important;
	&:hover {
		@include linear-gradient-img(90deg,$blue,$red);
	}
	&:active {
		@include linear-gradient-img(90deg,$blue,$red);
		opacity: .8;
	}
}

.green-btn {
	border-color: transparent;
	@include linear-gradient-border(90deg,$blue,$green);
	@include linear-gradient-img(45deg,$blue,$green);
	color:$white !important;
	&:hover {
		@include linear-gradient-img(90deg,$blue,$green);
	}
	&:active {
		@include linear-gradient-img(90deg,$blue,$green);
		opacity: .8;
	}
}

//Custom styles for red/green pages >>> single.scss
