/* scss/atoms/_buttons.scss */

button {
	font-family: $body-font;
	font-size: $body-size;
	font-style: italic;
	font-weight: $bold;
	line-height: $big-lh;
}

button.outline {
	height: 6.4rem;
	padding: 0 6rem;
	margin: 6rem auto 2rem;

	border: 3px solid $white;
	
	color: $white;	
}