/* scss/atoms/_date.scss */

time {
	font-family: $headline-font;
	font-weight: $light;
	font-size: $sidebar-type;
	
	background-image: url(../../../../img/dot-blue.svg);
	background-repeat: no-repeat;
	background-position: 0 1rem;
    background-size: .6rem .6rem;
    padding-left: 1.8rem;
	margin-left: .5rem;
}