/* scss/atoms/_headings.scss */

//setting paddings for all headings - this will fix the clipping issue coming from the gradient

.single-blog .title, 					//PADDING FIX - H1/title - single posts
.single-work h1 {
	margin-top: 4rem;
	padding: $h1-single-pad 0;
	line-height: $small-lh;
}

.overview-work h1, 						//PADDING FIX - H1 - overview pages
.overview-blog h1 {						
	padding: $h1-overview-pad 0;
	line-height: $small-lh;
}

h2 {									//PADDING FIX - H2
	padding: $h2-pad 0;
	line-height: $small-lh;
}

h3 {									//PADDING FIX - H3
	padding: $h3-pad 0;
	line-height: $big-lh;
}

h4 {									//PADDING FIX - H4
	padding: $h4-pad 0;
	line-height: $small-lh;
}


///////////


h1, h2, h3, h4, h5, h6, .title {
	font-family: $headline-font;
	font-weight: $light;
}

.single-blog main {							// blue-green gradient - Headlines - single-blog 
	h1, h2, h3, h4, h5, h6, .title {
		@include linear-gradient-text(45deg,$blue,$green);
	}
}

.single-work main {							// blue-red gradient - Headlines - single-work 
	h1, h2, h3, h4, h5, h6, .title {
		@include linear-gradient-text(45deg,$blue,$red);
	}	
}

.single-blog h1 { 						//the small SEO in single-blog	
	font-weight: 700;
	font-size: $body-size;
	line-height: $intro-lh;
	color: $green;
	padding: 0;
	margin: 0;
	display: inline-block;
}

.single-blog h2,						//H2 in single posts
.single-work h2 {
	@include fluid-type(font-size, $bp-sm, $bp-lg, $h2-single-min, $h2-single-max);
	margin: 2rem 0 0;
}

.single-blog .title, 
.single-work h1 {						//H1 in the work post and the Title in the blogpost
	@include fluid-type(font-size, $bp-sm, $bp-lg, $h1-single-min, $h1-single-max);
}

h3 {
	
	font-weight: $light;
	font-size: $h3-single;
	line-height: $big-lh;
}

h4 {
	font-size: $h4-single;
}
/*
.content h4 {
	font-weight: 700;
	font-size: 2rem;
}

article.project h2, h5 {
	font-family: $headline-font;
	font-weight: $h-weight;
	font-size: $h3-single;
	line-height: $body-lh;
	@include linear-gradient(45deg,$blue,$red);
}

article.story h3 {
	font-family: $headline-font;
	font-weight: $h-weight;
	font-size: $h3-single;
	line-height: $big-lh;
	padding: $h3-single-pad 0;
	@include linear-gradient(45deg,$blue,$green);
	margin-left: -3px;
}

h6 {
	font-family: $headline-font;
	font-weight: 700;
	font-size: 3rem;
	line-height: 3.5rem;
}*/