/* scss/atoms/_headings.scss */

//setting paddings for all headings - this will fix the clipping issue coming from the gradient

.single-blog .title, 					//PADDING FIX - H1/title - single posts
.single-work h1 {
	margin-top: 4rem;
	@include fluid-type(padding-top, $bp-sm, $bp-lg, $h1-single-pad-min, $h1-single-pad-max);
	@include fluid-type(padding-bottom, $bp-sm, $bp-lg, $h1-single-pad-min, $h1-single-pad-max);
	line-height: $small-lh;
}

.overview-work, 						//PADDING FIX - H1 - overview pages
.overview-blog,
.overview-about,
.overview-clients{
	h1 {
		@include fluid-type(padding-top, $bp-sm, $bp-lg, $h1-overview-pad-min, $h1-overview-pad-max);
		@include fluid-type(padding-bottom, $bp-sm, $bp-lg, $h1-overview-pad-min, $h1-overview-pad-max);
		line-height: $small-lh;
	}
}


h2 {									//PADDING FIX - H2
	@include fluid-type(padding-top, $bp-sm, $bp-lg, $h2-overview-pad-min, $h2-overview-pad-max);
	@include fluid-type(padding-bottom, $bp-sm, $bp-lg, $h2-overview-pad-min, $h2-overview-pad-max);
	line-height: $small-lh;
}

h3 {									//PADDING FIX - H3
	padding: $h3-pad 0;
	line-height: $big-lh;
}

h4 {									//PADDING FIX - H4
	padding: $h4-pad 0;
	line-height: $small-lh;
}


///////////


h1, h2, h3, h4, h5, h6, .title {
	font-family: $headline-font;
	font-weight: $thin;
	//line-height: $small-lh;
}

.single-blog,
.overview-blog,
.overview-clients {							// blue-green gradient - Headlines - single-blog 
	h1, h2, h3, h4, h5, h6, .title {
		@include linear-gradient-text(45deg,$blue,$green);
	}
}

.single-work, 
.single-about, 
.overview-work {							// blue-red gradient - Headlines - single-work 
	h1, h2, h3, h4, h5, h6, .title {
		@include linear-gradient-text(45deg,$blue,$red);
	}	
}

.single-blog h1 { 					//the small SEO in single-blog	
	font-weight: 700;
	font-size: $body-size;
	line-height: $intro-lh;
	color: $green;
	padding: 0;
	margin: 0;
	display: inline-block;
}

.single-blog,					//H2 in single posts
.single-work,
.single-about {
	h2 {
		@include fluid-type(font-size, $bp-sm, $bp-lg, $h2-single-min, $h2-single-max);
		margin: 2rem 0 0;
	}
}

.single-blog .title, 			//H1 in single-work and single-about, and the Title in the single-blog
.single-work h1,
.single-about h1 {						
	@include fluid-type(font-size, $bp-sm, $bp-lg, $h1-single-min, $h1-single-max);
}

.overview-work, 					//PADDING FIX - H1 - overview pages
.overview-blog,
.overview-about,
.overview-clients {
	h1 {
		@include fluid-type(font-size, $bp-sm, $bp-lg, $h1-overview-min, $h1-overview-max);
	}
}

.overview-work, 					//PADDING FIX - H1 - overview pages
.overview-blog,
.overview-about,
.overview-clients {
	h2 {
		@include fluid-type(font-size, $bp-sm, $bp-lg, $h2-overview-min, $h2-overview-max);
	}
}

h3 {
	
	font-weight: $thin;
	font-size: $h3-single;
	line-height: $big-lh;
}

.single-blog .post-item h3,						//H3 inside the Prev/Next in single posts
.single-work .post-item h3,
.single-about .post-item h3 {
	@include fluid-type(font-size, $bp-md, $bp-lg, $h2-overview-min, $h2-overview-max);
	@include fluid-type(margin-bottom, $bp-sm, $bp-lg, 2rem, 3rem); 
}

h4 {
	font-size: $h4-single;
}
