/* scss/atoms/_hero.scss */

.hero {
	min-height: 90vh; //same height as a post-item
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-blend-mode: screen;
	
	
	&>div {
		padding-top: 8rem;
		min-height: 90vh;
		@include transition(all, 0.3s, ease);
	}
	
	.white-bg {
		padding: 2rem;
		font-family: $headline-font;
		@include fluid-type(font-size, $bp-sm, $bp-lg, $hero-type-min, $hero-type-max);
		font-weight: $light;
	}
	
}


.clip-svg-hero {
  -webkit-clip-path: url("#clip-polygon-hero");
  clip-path: url("#clip-polygon-hero");
}

@media only screen and (min-height: 47rem) {
	.hero > div {
		padding-top: 0;
	}
}