/* scss/atoms/_hero.scss */

.hero {
	height: 60vh; //same height as a post-item
	overflow: hidden;
	background-size: cover;
	background-position: center;
}

.single-blog .hero {
	@include linear-gradient-img (45deg,$blue,$green);
}



.clip-svg-hero {
  -webkit-clip-path: url("#clip-polygon-hero");
  clip-path: url("#clip-polygon-hero");
}