/* scss/atoms/_links.scss */

a {
	text-decoration:none;
	&:hover {
		text-decoration:underline;
	}
}

//change color based on page 
.single-work, 
.single-about {
	a {
		color: $red;
	}
}
.single-blog {
	a {
		color: $green;
	}
}