/* scss/atoms/_links.scss */

a {
	text-decoration:none;
	&:hover {
		text-decoration:underline;
	}
}

//change color based on page
.single-work,
.single-about,
.front-page .two,
.front-page .four {
	a, a:visited {
		color: $red;
	}
}
.single-blog,
.front-page .one,
.front-page .three,
.front-page .five {
	a, a:visited {
		color: $green;
	}
}
