/* scss/atoms/_tags.scss */

.tags {
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;

	ul {
		margin-left:0;
		li {
			font-family: $body-font;
			font-style: italic;
			font-size: $size3;
			@include fluid-type(font-size, 12.5rem, $bp-xlg, $size2, $size3);
			color: $white;

			display: inline-block;
			padding-right: 1.25rem;

			a {
				text-decoration: none;
				@include transition(all,0.3s,ease);

				&:hover {
					//color: $blue;
					text-decoration:underline;
				}
			}
		}
	}
}

@media only screen and (min-width: $bp-sm) {
	.tags {
		margin-top: 3.75rem;
		margin-bottom: 5rem;
	}
}
