/* scss/atoms/_tags.scss */

.tags {
	margin-top: 4rem;
	margin-bottom: 4rem;
	
	ul {
		margin-left:0;
		li {
			font-family: $body-font;
			font-style: italic;
			font-size: 2.1rem;
			@include fluid-type(font-size, 20rem, $bp-xlg, $size2, $size3);			
			color: $white;
		
			display: inline-block;
			padding-right: 2rem;
		
			a {
				text-decoration: none;
				@include transition(all,0.3s,ease);
			
				&:hover {
					//color: $blue;
					text-decoration:underline;
				}
			}
		}
	}
}

@media only screen and (min-width: $bp-sm) {
	.tags {
		margin-top: 6rem;
		margin-bottom: 8rem;
	}
}