/* scss/atoms/_typography.scss */


h1 {
	margin-top: 4rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $headline-font;
	font-weight: $light;
}

h1, h2, h3 {
	line-height: $small-lh;;
}

h1 {
	
	line-height: $small-lh;
	padding: $h1-overview-pad 0;
}

.single-blog h1 { 					//the small SEO title in the blogpost
	
	font-weight: 700;
	font-size: $h1-single-blog;
	line-height: $intro-lh;
	padding: 0;
	margin: 0 0 100px 0;
}

.single-blog h2,
.single-work h2 {
	@include fluid-type(font-size, $bp-sm, $bp-lg, $h2-single-min, $h2-single-max);
	line-height: $small-lh;
	padding: 4rem 0 2rem 0
}

.single-blog .title, .single-work h1 {	//the H1 in the work post and the Title in the blogpost
	
	@include fluid-type(font-size, $bp-sm, $bp-lg, $h1-single-work-min, $h1-single-work-max);
	line-height: $small-lh;
	padding: $h2-single-pad 0;
}

h3 {
	
	font-weight: $light;
	font-size: $h3-single;
	line-height: $big-lh;
}

h4 {
	font-size: $h4-single;
}
/*
.content h4 {
	font-weight: 700;
	font-size: 2rem;
}

article.project h2, h5 {
	font-family: $headline-font;
	font-weight: $h-weight;
	font-size: $h3-single;
	line-height: $body-lh;
	@include linear-gradient(45deg,$blue,$red);
}

article.story h3 {
	font-family: $headline-font;
	font-weight: $h-weight;
	font-size: $h3-single;
	line-height: $big-lh;
	padding: $h3-single-pad 0;
	@include linear-gradient(45deg,$blue,$green);
	margin-left: -3px;
}

h6 {
	font-family: $headline-font;
	font-weight: 700;
	font-size: 3rem;
	line-height: 3.5rem;
}*/