/* scss/templates/_front-page.scss */
.front-page main * {
	@include transition(all,0.3s,ease);
}

.front-page {
	main {
		overflow: hidden;
		.bg-img, .bg-img-left {
			position: absolute;
		}
		.bg-img {
			z-index: -2;
			width: 100vw;
		}
		.bg-img-left {
			z-index: -1;
			width: 50vw;
			left:0;
		}
	/*
	 *	Breakpoint: base
	 */		
		.zero, .one, .two, .three, .four, .five{
			position: relative;
			@include fluid-type(padding-top, $bp-sm, $bp-lg, 5rem, 10rem);
			@include fluid-type(padding-bottom, $bp-sm, $bp-lg, 5rem, 10rem);
			align-content: center; 		//magically aligns everything vertically center 
			//overflow: hidden;
			//border-top:1px solid red;
		}
		
		h1, h2 {
			@include fluid-type(font-size, 20rem, 120rem, $h1-frontpage-min, $h1-frontpage-max);
			line-height: $small-lh;
			@include fluid-type(padding-top, $bp-sm, $bp-lg, $h1-overview-pad-min, $h1-overview-pad-max);
			@include fluid-type(padding-bottom, $bp-sm, $bp-lg, $h1-overview-pad-min, $h1-overview-pad-max);
		}
		
		.desc {
			p {
				font-family: $headline-font;
				font-weight: $light;
				text-align: left;
				@include fluid-type(font-size, $bp-sm, $bp-lg, $p-frontpage-min, $p-frontpage-max);
				
				padding: 1.5rem;
				@include fluid-type(margin-bottom, $bp-sm, $bp-lg, 1rem, 3rem);
				
				background: $white;			
			}
		}
		.number {
			position: absolute; 
			top: 7rem;
			
			img {
				mix-blend-mode:multiply;
				width:6rem;
				height: auto;
			}
			
			.inner {
				position: absolute;
				top: 0;
				left: 0;
			}
			
		}

		.left {
			h2 {
				@include linear-gradient-text(45deg,$blue,$green);
			}
		}
		.right {
			h2 {
				@include linear-gradient-text(45deg,$blue,$red);
			}
		}
				
		
		/*
	 	 *	Breakpoint: sm
	 	 */
		@media only screen and (min-width:$bp-sm) {
			
			.desc p {
				padding: 2.3rem 3rem;
			}

		}

		/*
	 *	Breakpoint: md
	 */
		@media only screen and (min-width:$bp-md) {
			.zero, .one, .two, .three, .four, .five { 
				min-height: 80vh;
			}
			.bg-img {
				top: 0;
			}
			.desc p {
				//font-weight: $thin;
			}
			.number {
				top: 14%;
			}

		}
		
	/*
	 *	Breakpoint: lg
	 */
		@media only screen and (min-width:$bp-lg) {
			.zero, .one, .two, .three, .four, .five { 
				min-height: 90vh;
			}
			.desc {
				margin-left: 0;
			}			
			.number {
				
			}
			aside {
				display: block;
			}
		}
		
	/*
	 *	Breakpoint: xlg
	 */
		@media only screen and (min-width:$bp-xlg) {
			.zero, .one, .two, .three, .four, .five { 
				min-height: 100vh;
			}
		}
	}
	
}

