/* scss/templates/_single-work.scss */

/* LINKED SCSS
 * molecules/_gallery.scss
 
 */

.content h2, .content h3, .content p, .content blockquote {
		padding-right: 0.5rem;
		padding-left: 0.5rem;
	}


@media only screen and (min-width: $bp-sm) {
	.content h2, .content h3, .content p, .content blockquote {
		padding-left: 0;
		padding-right: 33.33333333%;
		
	}
}


@media only screen and (min-width: $bp-md) {
	.content h2, .content h3, .content p, .content blockquote {
		padding-right: 33.33333333%;
		padding-left: 8.33333333%;
		margin-right: 1.5rem;
	}
}

figure {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.content figure img {
	width: 65%;
}

.meta {
	margin-bottom: 6rem;
}

