/* scss/templates/_single.scss */



.content h2, .content h3, .content p, .content blockquote {
		padding-right: 0.5rem;
		padding-left: 0.5rem;
	}


@media only screen and (min-width: $bp-sm) {
	.content h2, .content h3, .content p, .content blockquote {
		padding-left: 0;
		margin-right: 33.33333333%;
		
	}
	
	.content figure img {
		width: 65%;
	}
}

@media only screen and (min-width: $bp-md) {
	.content blockquote {
		padding-right: 1.5rem;
		padding-left: 8.33333333%;
		margin-right: 50%;
	}
	
	.content h2, .content h3, .content p {
		padding-right: 1.5rem;
		padding-left: 8.33333333%;
		margin-right: 33.33333333%;
	}
	

}


figure {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.meta {
	margin-bottom: 6rem;
}
