/* scss/templates/_single-work.scss */

/* LINKED SCSS
 * molecules/_gallery.scss
 
 */
.single-work {
	time {
		color: $red;
		background-image: url(../../../../img/dot-red.svg);
	}
	.client {
		color: $red;
	}
	
	a {
		color: $red;
	}
}

