/* scss/molecules/_header.scss */

#header {
	position: fixed;
	z-index: 101;
	width: 100%;
	padding-top: 1rem;

	.gradient {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 10rem;
		@include linear-gradient-img(0deg, rgba(0,0,0,0),rgba(0,0,0,0.3));
		background-blend-mode: multiply;
		@include transition (all, 0.3s, ease);
	}

	#logo, #phone {
		@include fluid-type(font-size, $bp-sm, $bp-lg, $header-type-min, $header-type-max);
		@include transition (all, 0.3s, ease);
		text-decoration: none;
		color: $white;
	}
	#phone {
		font-family: $headline-font;
		font-weight: $bold;
	}

	#logo {
		font-size: $header-type;
		line-height: 1;
		span {
			font-family: $headline-font;
			font-size: 1.2rem;
		}
	}


}

	#header div > div:nth-child(1) {
		text-align: left;
	}
	#header div > div:nth-of-type(2) {
		text-align: center;
		display: none;
		@include transition (all, 0.3s, ease);
	}
	#header div > div:nth-of-type(3) {
		text-align: right;
	}

@media only screen and (min-width: $bp-md) {
	#header div > div:nth-child(2) {
		display: block;
	}
}

.front-page, .overview-work, .overview-clients, .overview-about, .overview-blog, {
	#header .gradient {
		display: none;
	}
}
