/* scss/molecules/_intro.scss */

.intro {
	font-size: $intro-single;
	padding-left: 0;
	padding-bottom: 2.875rem;
	margin-bottom:2.5rem;

    background: url(img/dots-blue.svg) no-repeat bottom left;
    background-size: 1.5rem 0.375rem;
}
