/* scss/molecules/_intro.scss */

.intro {
	font-size: $intro-single;
	padding-left: 0;
	padding-bottom: 4.5rem; 
	margin-bottom:4rem;
	
    background: url(img/dots-blue.svg) no-repeat bottom left;
    background-size: 2.4rem 0.6rem;
}