/* scss/molecules/_post-item.scss */

//
// Blog post-item
//
.single-blog .post-item,
.overview-blog .post-item{
	
	//static
	&>img {
		mix-blend-mode: screen;
	}
	span {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		@include linear-gradient-img (45deg,$blue,$green);
		opacity: 0;
		transition: all .3s ease-in-out;
	}
	
 	h2 {
		@include linear-gradient-text(45deg,$blue,$green);
		transition: all .3s ease-in-out;
	}
	
	.tags li {		
		color:$grey;
		transition: all .3s ease-in-out;
	}
	
	.author {
		color:$green;
		transition: all .3s ease-in-out;
		
		.author-wrapper {
			font-family: $headline-font;
			font-size: $small-type;
			font-weight: $regular;
			margin-top: 3rem;

			img {
				width: 5.4rem;
				opacity: 1;
				border-radius: 50%;
				
			}
		}

		.author-inner {
			font-weight: $bold;
			padding-left: 3rem;
		}
	}
	
	// on hover
	&:hover {
		
		img {
			opacity:.3;
		}
		span {
			opacity: 1;
		}
		
		h2 {
			@include linear-gradient-text(45deg,$white,$white);
			transition: all .3s ease-in-out;
		}		
			
		.client {
			color:$white;
		}
		.tags li {
			color:$white;
		}
		
		.author {
			color:$white;
		}
	} 
}

//
// About post-item
//
.single-about .post-item,
.overview-about .post-item {
	//static
	&>img {
		opacity: .3;
	}
	span {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		@include linear-gradient-img (45deg,$blue,$red);
		opacity: .6;
		transition: all .3s ease-in-out;
	}
	
 	h2 {
		color: $white;
		transition: all .3s ease-in-out;
	}
	
	.tags li {		
		color:$grey;
		transition: all .3s ease-in-out;
	}
	
	.quote {
		color: $white;
		font-style: italic;
		margin-bottom: 3rem;
	}
	
	.position {
		color:$white;
		transition: all .3s ease-in-out;
		font-family: $headline-font;
		font-size: $body-size;
		font-weight: $bold;
	}
	
	// on hover
	&:hover {
		
		span {
			opacity: 1;
		}
		
	}

}

//
// Work post-item
//
.single-work .post-item,
.overview-work .post-item {
	
	color:$white;
	
	.client {
		color:$white;
	}
}

//
// General post-item
// 
.post-item {
	display: block;
	//height: 120vw;
	@include fluid-type-reverse(height, 16rem, $bp-md, 185vw, 40vw);
	padding: 0;
	margin: 0;
	color: $white;
	text-decoration: none;
	position: relative;
	overflow: hidden;
	transition: all .3s ease-in-out;
	
	&:hover {
		outline: 0;
	}
	
	&:hover img {
		opacity:0.2;
	}
	
	img {
		width: 100%;
		height: 100%;
		display: block;
		object-fit: cover;
		opacity: 0;
		transition: all .3s ease-in-out;
		
	}
	
	/*&:nth-child(even) {
		margin-top: -6vh;
	}*/
	
	.post-item-inner {
		@include fluid-type(padding-left, $bp-sm, $bp-lg, 1rem, 2rem);
		@include fluid-type(bottom, $bp-sm, $bp-lg, 2rem, 4rem);
		position: absolute;
		word-wrap: break-word;
		max-width: 100%;
		
		.tags {
			 @include fluid-type(margin-bottom, $bp-sm, $bp-lg, 2rem, 3rem); 
		}
	
	}
	
}

.single-work .post-item,
.single-blog .post-item,
.single-about .post-item,
{
	&:first-child {
		display: none; // display only the NEXT PROJECT in the Single pages - MOBILE
	}
}



@media only screen and (min-width: $bp-md) {
	.post-item {
		@include fluid-type-reverse(height, $bp-md, 100rem, 54vw, 20vw);
	}
	
	.single-work .post-item,
	.single-blog .post-item,
	.single-about .post-item {
		&:first-child {
			display: block;
		}
	}
	
}

@media only screen and (min-width: 100rem) {
	.post-item {
		height: 32vw;
	}
}



.clip-svg {
	width: 0;
	height: 0;
	position: absolute;
}

.clip-svg-post {
	-webkit-clip-path: url("#clip-polygon-post");
	clip-path: url("#clip-polygon-post");
	overflow: hidden;
}

