/* scss/utilities/_base.scss */

html {
	font-size: $base-font-size;
	// sets the base font to 10px for easier math
}

body {
	font-size: $body-size;
	// sets the default sizing to make sure nothing is actually 10px
	font-family: $body-font;
	color: $blue;
	line-height: $body-lh;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.relative {
	position: relative;
}