/* scss/utilities/_base.scss */

html, body {
	width: auto !important;
	overflow-x: hidden !important;
}

html {
	font-size: $base-font-size;	// sets the base font to 10px for easier math
	background-color: #ffffff;
}

body {
	font-size: $body-size;	// sets the default sizing to make sure nothing is actually 10px
	font-family: $body-font;
	color: $blue;
	line-height: $body-lh;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.relative {
	position: relative;
}

strong {
	font-weight: $bold;
}

a, a img {
	@include transition(all,0.3s,ease);
}

.wf-loading body {
  visibility: hidden;
}
