/* scss/utilities/_variables.scss */

// COLORS
	$blue: 	#0046b4; 	$blue-trans: 	rgba(0,70,180,0.7);
	$red: 	#fa5f69;	$red-trans: 	rgba(250,95,105,0.7);
	$green: #46beaf;	$green-trans: 	rgba(70,190,175,0.7);
	$white: #ffffff;
	$grey:  #9ca8b7;

// GRID - the media queries take only 16px as base font (from the browser)
	$bp-sm: 48rem;  // 48 * 16 = 768px 
	$bp-md: 64rem;  // 64 * 16 = 1024px
	$bp-lg: 75rem;  // 75 * 16 = 1200px
	$bp-xlg: 100.1rem; // 65 * 16 = 1600px

// FONTS
	$base-font-size: 62.5%;

	// Family
	$headline-font: "brandon-grotesque", Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	$body-font: "livory", Times, "Times New Roman", serif;

	// Weight
	$thin: 100;
	$light: 200;
	$regular: 300;
	$bold: 700;

	// Line-heights 
	$big-lh: 0.8;					// 
	$small-lh: 0.6;					// 
	$intro-lh: 1.4;					// 
	$body-lh: 1.5;					// 
	
	$pad-multiplier: 0.43;			// padding fix for the clipping

	// Sizes
	$size1: 1.6rem;
	$size2: 1.8rem;
	$size3: 2.1rem;
	$size4: 2.8rem;
	$size5: 4.0rem;
	$size6: 5.5rem;
	$size7: 9.0rem;
	$size8: 10.8rem;
	$size9: 18rem;


		// header
		$header-type-min: 		$size2;
		$header-type-max: 		$size3;

		//menu
		$menu-type-min: 		$size5;
		$menu-type-max: 		$size6;

		//headlines
		$h1-single-min:			$size7;
		$h1-single-max:			$size8;

		//headlines
		$h2-single-min:			$size5;
		$h2-single-max:			$size6;

		//post-item-title
		$h1-overview-min:		$size8;
		$h1-overview-max:		$size9;

		//post-item-title
		$h2-overview-min:		$size6;
		$h2-overview-max:		$size7;
		
		// hero
		$hero-type-min: 		$size3;
		$hero-type-max: 		$size4;	

		//front-page
		$h1-frontpage-min:		6rem;
		$h1-frontpage-max:		$size9;
		
		$p-frontpage-min:		$size3;
		$p-frontpage-max:		3rem;

		
		
		$small-type: $size1;		// blockquote author, button on mobile
		$sidebar-type: $size2;		// sidebar, date
		$header-type: $size4;		// phone, logo
		$footer-type: $size2;		// footer
		$body-size: $size3;			// body
		$h2-single: $size6; 		// H2, blockquote, 
		$h3-single: $size5;			// H3
		$h4-single: $size5;			// H4
		$intro-single: $size4;		// intro
		$form-label-type: $size2;	// form labels
		$form-input-type: $size3;	// form input

	// Paddings
	$h1-single-pad-min: $h1-single-min * $pad-multiplier;
	$h1-single-pad-max: $h1-single-max * $pad-multiplier;

	$h1-overview-pad-min: $h1-overview-min * $pad-multiplier;
	$h1-overview-pad-max: $h1-overview-max * $pad-multiplier;

	$h2-overview-pad-min: $h2-overview-min * $pad-multiplier;
	$h2-overview-pad-max: $h2-overview-max * $pad-multiplier;

	$h2-pad: $h2-single * $pad-multiplier;
	$h3-pad: $h3-single * $pad-multiplier;
	$h4-pad: $h4-single * $pad-multiplier;

