/* scss/utilities/_variables.scss */

// COLORS
	$blue: 	#0046b4; 	$blue-trans: 	rgba(0,70,180,0.7);
	$red: 	#fa5f69;	$red-trans: 	rgba(250,95,105,0.7);
	$green: #46beaf;	$green-trans: 	rgba(70,190,175,0.7);
	$white: #ffffff;

// GRID - the media queries take only 16px as base font (from the browser)
	$bp-sm: 48rem; // 48 * 16 = 768px 
	$bp-md: 64rem; // 64 * 16 = 1024px
	$bp-lg: 75rem; // 65 * 16 = 1200px

// FONTS
	$base-font-size: 62.5%;

	// Family
	$headline-font: "brandon-grotesque", Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	$body-font: "livory", Times, "Times New Roman", serif;

	// Weight
	$light: 100;
	$regular: 300;
	$bold: 700;

	// Line-heights 
	$big-lh: 0.8;					// 
	$small-lh: 0.6;					// 
	$intro-lh: 1.4;					// 
	$body-lh: 1.5;					// 
	$pad-multiplier: 0.43;			// 

	// Sizes
	$size1: 1.6rem;
	$size2: 1.8rem;
	$size3: 2.1rem;
	$size4: 2.8rem;
	$size5: 4.0rem;
	$size6: 5.5rem;
	$size7: 9.0rem;
	$size8: 10.8rem;
	$size9: 18rem;

		// header
		$header-type-min: 		$size2;
		$header-type-max: 		$size3;

		//menu
		$menu-type-min: 		$size5;
		$menu-type-max: 		$size6;

		//headlines
		$h1-single-work-min:	$size7;
		$h1-single-work-max:	$size8;

		//headlines
		$h2-single-min:			$size5;
		$h2-single-max:			$size6;

		//post-item-title
		$post-title-min:		$size5;
		$post-title-max:		$size7;

		

	$small-type: 1.6rem;			// blockquote author,
	$sidebar-body: 1.8rem;			// blockquote author, sidebar
	$header-type-lg: 2.8rem;
	$body-size: 2.1rem;				// 
	$h1-single-blog: 2.8rem;		// logo, phone
	$h1-single-work: 10.8rem;		// 
	$h2-single: 5.5rem; 			// H2, blockquote, 
	$h3-single: 4rem;				// 
	$h4-single: 4rem;				// 
	$intro-single: 2.8rem;			// 

	$h1-overview: 18rem;
	$h2-overview: 9rem;

	// Paddings
	$h1-single-blog-pad: $h1-single-blog * $pad-multiplier;
	$h1-single-work-pad: $h1-single-work * $pad-multiplier;
	$h2-single-pad: $h2-single * $pad-multiplier;
	$h3-single-pad: $h3-single * $pad-multiplier;
	$h4-single-pad: $h4-single * $pad-multiplier;

	$h1-overview-pad: $h1-overview * $pad-multiplier