/* scss/organisms/_footer.scss */

.clip-svg-footer {
  -webkit-clip-path: url("#clip-polygon-footer");
  clip-path: url("#clip-polygon-footer");
}

body > footer {
	
	background: $white;
	font-size: $footer-type;
	.row {
		padding-top: 5rem;
		padding-bottom: 5rem;
	}
	img {
		width: 4.4rem;
		height: auto;
	}
}
