/* scss/organisms/_footer.scss */

.clip-svg-footer {
  -webkit-clip-path: url("#clip-polygon-footer");
  clip-path: url("#clip-polygon-footer");
}

body > footer {

	background: $white;
	font-size: $footer-type;
  @include fluid-type(margin-top, 24rem, $bp-xlg, -2.5rem, -16rem);
  padding-top: 5rem;

	.container-fluid {
		width:100%;
		.row {
			padding-top: 3.125rem;
			padding-bottom: 3.125rem;
		}
		a {
			text-decoration:none;
			color:$green;
			svg {
				@include transition(all,0.3s,ease);
				width: 2.75rem;
				height: auto;
				fill:$green;
			}
			&:hover {
				svg {
					fill:$blue;
				}
			}
		}
		a.email:hover {
			text-decoration:underline;
		}
		@media only screen and (min-width: $bp-md) {
			.row {
				padding-top: 8.75rem;
			}
		}

	 }
  	@media only screen and (min-width: $bp-md) {
  		//margin-top: -16.25rem;
      padding-top: 0;
  	}

    .svg-container {
  		display: block;
  		position: relative;
  		width: 100%;
  		height:100%;
  		vertical-align: bottom;
  		overflow: hidden;
  	}

  	.svg-single {
  		position: absolute;
  		display: inline-block;
  		top:-1px;
  	}

}

.svg-footer {
	width: 102%;
	background-image: url(img/hero-poly-up.svg);
	background-size: cover;
	height: 0;
	padding: 0; /* reset */
	margin: -0.5% -1% 0 -1%;
	padding-bottom: 12%;
}

body.ie > footer,
body.edge > footer {
  margin-top:0;
  &> .row > .container-fluid > .row {
    @media only screen and (min-width: $bp-md) {
      text-align: right;
    }
  }
}
