/* scss/organisms/_footer.scss */

.clip-svg-footer {
  -webkit-clip-path: url("#clip-polygon-footer");
  clip-path: url("#clip-polygon-footer");
}

body > footer {

	background: $white;
	font-size: $footer-type;
	//margin-top: -16.25rem;
	.container-fluid {
		width:100%;
		.row {
			padding-top: 3.125rem;
			padding-bottom: 3.125rem;
		}
		a {
			text-decoration:none;
			color:$green;
			svg {
				@include transition(all,0.3s,ease);
				width: 2.75rem;
				height: auto;
				fill:$green;
			}
			&:hover {
				svg {
					fill:$blue;
				}
			}
		}
		a.email:hover {
			text-decoration:underline;
		}
		@media only screen and (min-width: $bp-md) {
			.row {
				padding-top: 8.75rem;
			}
		}

	}
	@media only screen and (min-width: $bp-md) {
		margin-top: -16.25rem;
	}

}

//@media only screen and (min-width: $bp-lg) {
//	body.front-page > footer {
//		padding-right: 17.666666666%;
//	}
//}

.clip-svg:nth-of-type(2) {
	display:none;

	@media only screen and (min-width:$bp-sm) {
		display:block;
	}
}
