/* scss/organisms/_form.scss */

/* The extends are coming from the following files:
 * @extend inputs.scss
 * @extend buttons.scss
 */

//General form styles

.contact-form {
	h3 {
		@include fluid-type(font-size, 12.5rem, $bp-xxxlg, 2.6rem, 4rem);
		@include fluid-type(padding-top, $bp-sm, $bp-lg, $h1-overview-pad-min, $h1-overview-pad-max);
		@include fluid-type(padding-bottom, $bp-sm, $bp-lg, $h1-overview-pad-min, $h1-overview-pad-max);
		//margin-bottom: 2.5rem;
	}
}

form, #mc_embed_signup {
	text-align: left;
    width:100%;

	input.button {
		@extend button;
		@extend .green-btn;	 //this needs to be different based on the type of page
	}

	input[type=submit] {
		@extend %input-submit;
		@extend .green-btn;
		width:100%;
	}

	//Labels
	p, label {
		@extend %label;
	}

	// Input fields
	input:not([type=submit]):not([type=radio]):not([type=checkbox]) {
		@extend %input;
		&:hover {
			cursor: text;
		}
		&:focus {
			@extend %input-type-focus;
		}
		&.wpcf7-not-valid {
			border-color: $red;
		}
	}
	textarea {
		@extend %textarea;
	}
}


// Contact form 7 styles
.screen-reader-response {
 	display: none;
}
form {
	* {
		@include transition(all,0.3s,ease);
	}
	// Radio buttons transformed in buttons
	//.radio-selector {
		.wpcf7-form-control-wrap {
			@extend %radio-wrapper;
			.wpcf7-list-item {
				@extend %radio-button;
				&:hover {
					font-weight:$bold;
				}
				&.first .wpcf7-list-item-label {
					border-left-width: 1px;
				}
			}
			.wpcf7-list-item-label {
				@extend %radio-label;
			}

			input[type=checkbox], input[type=radio]  {
				@extend %radio-input;
				&:checked ~ .wpcf7-list-item-label {
					font-weight: $bold;
					color: $green;
				}
			}
		}
	//}

	div.wpcf7-response-output {
		font-family:$headline-font;
		font-weight:$bold;
		line-height:$intro-lh;
		margin:0;
		padding:0;
	}
	div.wpcf7-validation-errors, span.wpcf7-not-valid-tip {
		font-weight:$bold;
		font-size: 0.85rem;
		border:0;
		color:$red;
	}
	div.wpcf7-mail-sent-ok {
		font-size: 0.85rem;
		border:0;
		color:$green;
	}
	.ajax-loader {
		display:none !important;
	}
}


// Mailchimp form styles
#mc_embed_signup {

	// Radio buttons transformed in buttons
	.radio-selector {
		ul {
			@extend %radio-wrapper;
			li {
				@extend %radio-button;
				&:hover {
					label {
						font-weight: $bold;
					}
				}
				&:nth-of-type(1) label {
					border-left-width: 1px;
				}
				label {
					@extend %radio-label;

				}
				input {
					@extend %radio-input;
				}
			}
		}
	}

	//Error messages
	div.mce_inline_error {
	    margin: 0.375rem 0 0.625rem 0 !important;
		padding:0 !important;
		font-family:$headline-font;
		font-size:$small-type;
	    z-index: 1;
	    color: $red !important;
		background-color: $white !important;
	}
}

//Space between
.mc-field-group, form p {
	margin-bottom: 0.625rem;
}

//Correct the width for the sidebar
aside form {
	width: 100%;
	input[type=submit] {
		margin-top:0  !important;
		margin-bottom:0 !important;
	}
}
