/* scss/organisms/_form.scss */

.contact-form {
	margin-top: 8rem;
	h2 {
		font-size: $h1-single-min;
		padding: $h1-single-pad-min;
		margin-bottom: 4rem;
	}
}

#mc_embed_signup {
	
	width: 90%;
	max-width: 45rem;
	text-align: left;
	
	input[type="radio"] {
		-webkit-appearance: radio;
	}
	
	input.type:hover {
		cursor: text;
	}
	
	input.button {
		font-family: $body-font;
		font-size: $body-size;
		font-style: italic;
		font-weight: $bold;
		line-height: $big-lh;
		height: 6.4rem;
		padding: 0 6rem;
		border-width: 3px;
		border-style: solid;
		border-color: transparent;
		color: $white;
		@include linear-gradient-border(90deg,$blue,$green);
		@include linear-gradient-img(45deg,$blue,$green);
		margin: 6rem auto 2rem;
		&:hover {
			// ADD HERE HOVER;
		}
	}
	
	ul {
		list-style-type: none;
		li {
			float: left;
			margin: 0 0 2rem -1px;
			width: 33.33333%;
			position: relative;
			height: 7rem;
			
		}
		
		label {
			
			display: block;
			text-align: center;
			padding: 1.5rem 0;			
			
			border-width: 1px;
			border-style: solid inset;
			border-color: $blue;
			
			cursor: pointer;
			z-index: 90;
			@include transition(all,0.3s,ease);
			&:hover {
				font-weight: $bold;
			}
		}
		
		input {
			display: block;
			text-align: center;
			
			position:absolute;
			top:0;
			left:0;
			right:0;
			bottom:0;	
			
			&[type="radio"] {
				opacity: 0.011;
				z-index: 100;
				&:checked + label {
					font-weight: $bold;
					color: $green;
				}
			}
		}
		&:after {
			clear: both;
		}
	}
}

#mc_embed_signup label, 
.post-password-form label {
	font-family: $headline-font;
	font-weight: 400;
	font-size: $form-label-type;
}

.post-password-form {
	
	label {
		color: $green;
	}
	
	input {
		&:not([type='submit']):hover {
			cursor: text;
		}
		&[type='submit'] {
			font-family: $body-font;
			font-size: $body-size;
			font-style: italic;
			font-weight: $bold;
			line-height: $big-lh;
			height: 6.4rem;
			padding: 0 6rem;
			border-width: 3px;
			border-style: solid;
			border-color: transparent;
			color: $white;
			@include linear-gradient-border(90deg,$blue,$green);
			@include linear-gradient-img(45deg,$blue,$green);
			margin: 6rem auto 2rem;
			&:hover {
				// ADD HERE HOVER;
			}
		}
	}
}

#mc_embed_signup input:not([type='radio']), 
.post-password-form input:not([type='submit']) {
	display: block;
	width: 100%;
	box-sizing: border-box;
	height: 50px;
}

#mc_embed_signup input.type, 
.post-password-form input:not([type='submit']) { 			// the input fields
	font-family: $headline-font;
	font-size: $body-size;
	padding: 0 2rem;
	height: 6rem;
	border-width: 1px;
	border-style: solid;
	@include linear-gradient-border(45deg,$blue,$green);
	color: $green;
}

#mc_embed_signup input.type:focus, 
.post-password-form input:not([type='submit']):focus {
	border: 1px solid $green;
	outline: none;
}

.mc-field-group {
	margin-bottom: 15px;
}
