/* scss/organisms/_front-five.scss */

.front-page .five {
	margin-bottom: 9.375rem;
	.number {
		img {
			width: 5.3125rem;
		}
		.inner {
			opacity: .6;
		}
	}
	.bg-img {
		z-index: -6;
		bottom: -6.25rem;
	}
	/*
	 *  Breakpoint: sm
	 */
	@media only screen and (min-width:$bp-sm) {
		.bg-img {
			top:auto;
		}
		.number {
			@include fluid-type(left, $bp-sm, $bp-xlg, -4.375rem, 5rem);
			img {
				@include fluid-type(width, $bp-sm, $bp-xlg, 20rem, 31.25rem);
			}
		}
		.desc {
			p {
				background: transparent;
			}
		}
	}
}
