/* scss/organisms/_front-two.scss */

.front-page .two {
	.number {
		right: 0;
		top:5rem;
		img {
			mix-blend-mode:multiply;
			width:6.25rem;
		}
		.inner {
			mix-blend-mode:overlay;
		}
	}
	.bg-img {
		z-index: -3;
		right: -3.125rem;
    	top:5rem;
	}


	@media only screen and (min-width:$bp-sm) {
		.number {
			@include fluid-type(right, $bp-sm, $bp-xlg, -3.75rem, 0rem);
			img {
				@include fluid-type(width, $bp-sm, $bp-xxxlg, 15.25rem, 29.375rem);
			}
		}
		.desc {
			margin-left: -33.33333333%;
			p {
				background: transparent;
			}
		}
		.bg-img {
			right: auto;
			@include fluid-type(top, $bp-sm, $bp-md, 3.75rem, 5.625rem);
		}
	}

	@media only screen and (min-width:$bp-md) {
		.number {
			top:10rem;
		}
		.bg-img {

			@include fluid-type(top, $bp-md, $bp-xlg, 10rem, 1.25rem);
		}
	}
}

body.ie,
body.edge {
	&.front-page .two .number {
		.outer {

		}
		.inner {
			opacity:0.6;
		}
	}
}
