/* scss/organisms/_front-one.scss */

.front-page .one {
	.bg-img {
		z-index: -2;
		top:-6rem;
		left:0;
		width:63vw;
	}

	/*
	 *  Breakpoint: sm
	 */
	@media only screen and (min-width:$bp-sm) {

		.bg-img {
			top:-12rem;
			width:45vw;
		}
		.desc {
			margin-left: -33.33333333%;
		}
	}

	/*
	 *  Breakpoint: md
	 */
	@media only screen and (min-width:$bp-md) {
		.desc {
			margin-left: 0;
		}
	}

	/*
	 *  Breakpoint: lg
	 */
	@media only screen and (min-width:$bp-lg) {
		.bg-img {
			left:-5rem;
		}
	}

	@media only screen and (min-width:$bp-xlg) {
		.bg-img {
			width: 38vw;
		}
	}

}
