/* scss/organisms/_front-two.scss */

.front-page .two {
	.number {
		right: 0;
		top:8rem;
		img {
			mix-blend-mode:multiply;
			width:10rem;
		}
		.inner {
			mix-blend-mode:overlay;
		}
	}
	.bg-img {
		z-index: -3;
		right: -5rem;
    	top:8rem;
	}
	

	@media only screen and (min-width:$bp-sm) {
		.number {
			@include fluid-type(right, $bp-sm, $bp-xlg, -6rem, 0rem);
			img {
				@include fluid-type(width, $bp-sm, $bp-xlg, 26rem, 47rem);
			}
		}
		.desc {
			margin-left: -33.33333333%;
			p {
				background: transparent;
			}	
		}
		.bg-img {
			right: auto;
			@include fluid-type(top, $bp-sm, $bp-md, 6rem, 9rem);
		}
	}
	
	@media only screen and (min-width:$bp-md) {
		.number {
			top:16rem;
		}
		.bg-img {
			
			@include fluid-type(top, $bp-md, $bp-xlg, 16rem, 2rem);
		}
	}
}