/* scss/organisms/_front-one.scss */

.front-page .one {
	.bg-img {
		z-index: -2;
	}
	.number {
		margin-left: -1rem;
		.inner {
			opacity: .6;
		}
	}

	/*
	 *  Breakpoint: sm
	 */
	@media only screen and (min-width:$bp-sm) {
		.number {
			@include fluid-type(left, $bp-sm, $bp-xlg, -1.5rem, 8rem);
			img {
				@include fluid-type(width, $bp-sm, $bp-xlg, 17rem, 29rem);
			}
		}
		.desc {
			margin-left: -33.33333333%;
		}
	}
	@media only screen and (min-width:$bp-md) {
		.desc {
			margin-left: 0;
		}
	}
	@media only screen and (min-width:$bp-xlg) {
		.bg-img {
			top: -16rem;
		}
	}
	
	
}