/* scss/organisms/_sidebar.scss */

aside {
		position: relative;

	}

@media only screen and (min-width: $bp-sm) {
	aside {
		position: absolute;

		margin-top:269px;
		padding: 0;
		right: 0;
	}
}

@media only screen and (min-width: $bp-md) {
	aside {
		position: absolute;
		margin-top:269px;
		right: 8.33333333%;
	}
}