/* scss/organisms/_sidebar.scss */

@media only screen and (min-width: $bp-sm) {
	aside {
		position: relative;
	}
}

@media only screen and (min-width: $bp-md) {
	aside {
		position: absolute;
		margin-top:138px;
		right: 0;
	}
}